.taskWrapper{
    display: flex;
    justify-items: left;
    margin-bottom: 8px;
}

.task{
    font-size: 16px;
    font-weight: 600; 
}

.taskBody{

}

.taskBodyText{
    list-style: none;
}

.taskBodyTextItems{
    display: flex;
    justify-items: left;
   
}