:root {
    --header-height: 60px;
    --header-color: white;
    --header-text: #333;
    --font-size: 16px;
}

#header {
    height: var(--header-height);
    top: 0;
    position: sticky;
    z-index: 1000;
}

#header.scrolled {
    background: linear-gradient(135deg, #fff, #f8f9fa, #e9ecef);
}

.headerName {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 28px;
    background: linear-gradient(270deg, #8a2be2, #8000ff, #00bfff);
    background-size: 600% 600%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    animation: gradientMove 8s ease infinite;
    transition: all .3s ease;
}


.navbar {
    height: 100%;
}

.navbarLists {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbarItems {
    position: relative;
    padding: 8px 14px;
    border-radius: 8px;
    transition: all .3s ease;
    cursor: pointer;
}

.navbarItems_link {
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    color: var(--header-text);
    font-size: var(--font-size);
}

.navbarItems:hover {
    color: #3b82f6;
    transform: translateY(-2px);
}

.navbarItems::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, #3b82f6, #1e3a8a);
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.navbarItems:hover::after {
    width: 100%;
}

.navbarItems.active {
    color: #007bff;
    background-color: rgba(0, 123, 255, .123);
    font-weight: 600;
}

.navbarItems.active::after {
    width: 100%;
    background: linear-gradient(90deg, #007bff, #0056b3);
}


