@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: Montserrat;
  transition: none !important;
}

header {
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); 
}

[data-theme="dark"] header {
  background-color: #1a1a1a;
  /* background: linear-gradient(135deg, #1a1a1a, #2d2d2d, #404040); */
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); */
}

body {
  background: #fff;
  color: #000;
  transition: all .3s ease;
}

[data-theme="dark"] body {
  background: #121212;
  color: #e9ecef;
}

h1,
h2,
h3,
h4,
p {
  transition: color .3s ease;
}

[data-theme="dark"] h1,
[data-theme="dark"] h2,
[data-theme="dark"] h3,
[data-theme="dark"] p {
  color: #e9ecef;
}

a {
  color: #333;
  text-decoration: none;
}

[data-theme="dark"] a {
  color: #e9ecef;
}

button {
  background: none;
  color: #333;
}

[data-theme="dark"] button {
  background: none;
}

i {
  color: #333;
}

[data-theme="dark"] i {
  color: #e9ecef;
}