.title_backend {
    font-size: 45px;
    font-weight: 800;
    background: linear-gradient(135deg, #667eea, #764ba2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.titleBE{
    color: #333;
}

[data-theme="dark"] .titleBE{
    color: #2f5cd8ff;
}

.subtitle{
    text-align: justify;
    font-weight: 500;
}

.logo{
    width: 450px;
    height: 450px;
    animation: spin 15s linear infinite;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 6px 12px 8px #3b82f6,
            0 8px 20px 12px #1e3a8a;
    transition: all 0.3s ease;
}

.social_lists{
    list-style: none;
    padding: 0;
    margin: 15px x 0 -8px 0;
}

.social_items {
    padding: 8px;
    border-radius: 50%;
    box-shadow: 0 4px 4px 2px rgba(0, 0, 0, .7);
    background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, transparent 100%);
    background-size: 100% 0%;         /* ban đầu chưa thấy màu */
    background-repeat: no-repeat;
    background-position: top;
    transition: background-size 0.5s ease-in-out;
}

[data-theme="dark"] .social_items{
     box-shadow: 0 3px 8px 2px #3b82f6,
            0 3px 8px 2px #1e3a8a;
}

.social_items:hover {
    background-size: 100% 100%;
    transform: scale(1.1);
}

.button_downloadCV{
    color: #333;
    max-width: 240px;
    width: 100%;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 16px;
    box-shadow: 0 4px 4px 2px rgba( 0, 0, 0, .7);
    border-radius: 24px;
    transition: all 0.3s ease-in-out;
}

[data-theme="dark"] .button_downloadCV{
    box-shadow: 0 3px 8px 2px #3b82f6,
            0 3px 8px 2px #1e3a8a;
}

.button_downloadCV:hover{
    transform: scale(1.01);
    filter: blur(.5px);
    box-shadow: 0 4px 4px 2px #1a3fac;
}





/* @keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
} */
